a{
    color: red;
}

#cinema-overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#bg{
    scale: auto;
    max-width: 100%;
    overflow-x: hidden;
    position:absolute;
}

body{
    background-image: url(il_fullxfull.5958164342_bftr.png);
    background-size: contain;
}

.center-console {
    width: 100vh;
    height: 150vh;
    margin: 0 auto;
    background-color: rgba(22, 131, 194, 0.990);
}
body {
    margin:0;
    display:flex;
    height: 180vh;
    width: 100%;
    align-items:center;
}